@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░╣ resetting styles ╠░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-dark-first: #313131;
    --color-light-first: #bebebe;
    --color-blue-first: #1E88E5;
    --color-purple-first: rgb(128, 22, 82);
    --color-green-second: rgb(15, 144, 26);
    --color-blue-logo: #98E0CB;
    --color-blue-secondary: #c8eee2;

    --cursor-point: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" stroke="%23808080" stroke-width="2.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"%3E%3C/path%3E%3C/svg%3E'), auto;
}

html {
    font-size: 60%;
}

body {
    background: rgb(232, 232, 232);
    height: 100vh;
    overflow-y: hidden;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Main Content ╠░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.top {
    height: 6vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img {
    max-width: 100%;
    height: 3rem;

    animation: colorChange 4s infinite linear, shine 2s infinite;
}

.tooltip {
    position: absolute;
    bottom: 0;
    right: -20px;
    background: var(--color-dark-first);
    color: var(--color-light-first);
    padding: .5rem 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2000;
    position: relative;
    font-size: 1.4rem;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color-dark-first) transparent transparent;
}

.top:hover .tooltip {
    opacity: 1;
}

#map {
    width: 100%;
    height: 87vh;
    position: relative;

    background-color: #AD80FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23AD80FF' stroke-width='0' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cuse fill='%23af84ff' href='%23s' y='2'/%3E%3Cuse fill='%23af84ff' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23b187ff' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23b187ff' href='%23s'/%3E%3Cuse fill='%23b38bff' href='%23s' x='2'/%3E%3Cuse fill='%23b38bff' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23b58eff'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23b58eff'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23b792ff'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23AD80FF'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23b995ff'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23D5FFB4'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23D5FFB4'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23D5FFB4'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 30%;
    height: 70%;
    background: linear-gradient(50deg, rgba(11, 119, 27, 1) 0%, rgba(23, 89, 25, 1) 50%, rgba(4, 134, 71, 1) 100%);
    border: none;
    border-radius: 1rem;
    z-index: 1000;
    padding: 1rem 3rem;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

#info.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-out, visibility 1s ease-out;
}

#info:hover {
    cursor: move;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: var(--cursor-point);
}

.logo {
    max-width: 100%;
    height: 13rem;
    margin: 0 auto;
    display: block;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Form ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.activities {
    list-style: none;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 1rem;
    padding: 0 .3rem;
}

.activities::-webkit-scrollbar {
    width: 0;
}

.form {
    background-color: var(--color-green-second);
    border-radius: 15px 5px;
    padding: 1.2rem 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1.5rem;
    height: 9rem;
}

.form__row {
    display: flex;
    align-items: center;
}

.form__row--hidden {
    display: none;
}

.form__label {
    flex: 0 0 47%;
    font-size: 1.4rem;
    font-weight: 600;
    transition: font-size .3s;
}

.form__input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue-logo);
    transition: background-color 0.3s ease-in-out, outline .2s ease-in, transform .4s ease-out;
}

.form__input:hover {
    background-color: var(--color-blue-secondary);
}

.form__input:focus {
    outline: 2px ridge blue;
    transform: translateX(3px);
    background-color: #fff;
}

.form__label.focused {
    font-size: 1.6rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.form__btn {
    display: none;
}

.form.hidden {
    transform: translateY(-40rem);
    height: 0;
    padding: 0 2rem;
    margin-bottom: 0;
    opacity: 0;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Activity ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.activity {
    background-color: var(--color-green-second);
    border-radius: 15px 5px;
    padding: 1.2rem 2rem;
    margin-bottom: 1rem;
    cursor: var(--cursor-point);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 1rem 2rem;
}

.activity--running {
    box-shadow: 3px 3px 4px 2px var(--color-blue-first);
}

.activity--cycling {
    box-shadow: 3px 3px 4px 2px var(--color-purple-first);
}

.activity__title {
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1 / 5;
}

.activity__details {
    display: flex;
    align-items: baseline;
}

.activity__icon {
    font-size: 2rem;
    margin-right: 0.3rem;
    height: 3rem;
}

.activity__value {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 0.2rem;
}

.activity__unit {
    font-size: 1.2rem;
    color: var(--color-dark-first);
    text-transform: uppercase;
    font-weight: 800;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Leaflet ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark-first);
    color: var(--color-light-first);
    border-radius: 12px;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark-first);
}

.running-popup .leaflet-popup-content-wrapper {
    box-shadow: 0px 0px 7px 5px var(--color-blue-first);
}

.cycling-popup .leaflet-popup-content-wrapper {
    box-shadow: 0 0 7px 5px var(--color-purple-first);
}


/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Animations ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes shine {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.no-animations .top img {
    animation: none;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Error message ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.error-container {
    position: fixed;
    top: 7rem;
    right: 0;
    background-color: rgba(255, 0, 0);
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.8rem;
    opacity: 0;
    z-index: 1000;
    box-shadow: 0 1px 10px 2px rgb(136, 4, 4);
    transition: transform 0.5s ease-out, opacity .6s ease-in-out;
}

.error-container.show {
    transform: translateX(-10%);
    opacity: 1;
}

.error-container.hide {
    transform: translateX(50%);
    opacity: 0;
}