@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░╣ resetting styles ╠░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-dark-first: #313131;
    --color-light-first: #bebebe;
    --color-blue-first: #1E88E5;
    --color-purple-first: rgb(128, 22, 82);
    --color-green-second: rgb(15, 144, 26);
    --color-blue-logo: #98E0CB;
    --color-blue-secondary: #c8eee2;

    --cursor-point: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" stroke="%23808080" stroke-width="2.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"%3E%3C/path%3E%3C/svg%3E'), auto;
}

html {
    font-size: 60%;
}

body {
    background: rgb(232, 232, 232);
    height: 100vh;
    overflow-y: hidden;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Main Content ╠░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.top {
    height: 6vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img {
    max-width: 100%;
    height: 3rem;

    animation: colorChange 4s infinite linear, shine 2s infinite;
}

.tooltip {
    position: absolute;
    bottom: 0;
    right: -20px;
    background: var(--color-dark-first);
    color: var(--color-light-first);
    padding: .5rem 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2000;
    position: relative;
    font-size: 1.4rem;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color-dark-first) transparent transparent;
}

.top:hover .tooltip {
    opacity: 1;
}

#map {
    width: 100%;
    height: 87vh;
    position: relative;

    background-color: #AD80FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23AD80FF' stroke-width='0' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cuse fill='%23af84ff' href='%23s' y='2'/%3E%3Cuse fill='%23af84ff' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23b187ff' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23b187ff' href='%23s'/%3E%3Cuse fill='%23b38bff' href='%23s' x='2'/%3E%3Cuse fill='%23b38bff' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23b58eff'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23b58eff'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23b792ff'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23AD80FF'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23b995ff'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23D5FFB4'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23D5FFB4'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(45 1000 750) scale(13.35) translate(-925.09 -693.82)'%3E%3Cg fill='%23D5FFB4'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 30%;
    height: 70%;
    background: linear-gradient(50deg, rgba(11, 119, 27, 1) 0%, rgba(23, 89, 25, 1) 50%, rgba(4, 134, 71, 1) 100%);
    border: none;
    border-radius: 1rem;
    z-index: 1000;
    padding: 1rem 3rem;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

#info::-webkit-scrollbar {
    width: 13px;
}

#info::-webkit-scrollbar-track {
    background-color: var(--color-green-second);
}

#info::-webkit-scrollbar-thumb {
    background-color: rgb(27, 85, 27);
    border-radius: 10px;
    border: 3px solid var(--color-green-second);
}

#info::-webkit-scrollbar-thumb:hover {
    background-color: rgb(81, 215, 81);
}

#info.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-out, visibility 1s ease-out;
}

#info:hover {
    cursor: move;
}

#close-btn {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 18px;
    cursor: var(--cursor-point);
}

.actions {
    position: absolute;
    cursor: var(--cursor-point);
    background: none;
    border: none;
}

.icons {
    transition: .2s ease-in;
}

.info__btn--deleteAll {
    display: none;
    left: 1rem;
    top: 4rem;
}

.info__btn--deleteAll:hover .info__btn--deleteAll__icon {
    font-size: 2.2rem;
    transform: translate(2px, 2px);
    color: rgb(220, 0, 0);
}

.info__btn--deleteAll__icon {
    font-size: 2rem;
    color: red;
}

.tooltip__deleteAll {
    position: absolute;
    bottom: 5rem;
    right: 0;
    background: var(--color-dark-first);
    color: var(--color-light-first);
    padding: .5rem 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2000;
    position: relative;
    font-size: 1.4rem;
}

.info__btn--deleteAll:hover .tooltip__deleteAll {
    opacity: 1;
}

.logo {
    max-width: 100%;
    height: 13rem;
    margin: 0 auto;
    display: block;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Form ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.activities {
    list-style: none;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 1rem;
    padding: 0 .3rem;
}

.activities::-webkit-scrollbar {
    width: 0;
}

.form {
    background-color: var(--color-green-second);
    border-radius: 15px 5px;
    padding: 1.2rem 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1.5rem;
    height: auto;
}

.form__row {
    display: flex;
    align-items: center;
}

.form__row--hidden {
    display: none;
}

.form__label {
    flex: 0 0 47%;
    font-size: 1.4rem;
    font-weight: 600;
    transition: font-size .3s;
}

.form__input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue-logo);
    transition: background-color 0.3s ease-in-out, outline .2s ease-in, transform .4s ease-out;
}

.form__input:hover {
    background-color: var(--color-blue-secondary);
}

.form__input:focus {
    outline: 2px ridge blue;
    transform: translateX(3px);
    background-color: #fff;
}

.form__label.focused {
    font-size: 1.6rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.form__btn {
    grid-column: 1/ -1;
    text-align: center;
    padding: .2rem;
    border: none;
    margin-top: 1rem;
    cursor: var(--cursor-point);
    background-image: linear-gradient(130deg,
            white 0%,
            var(--color-blue-logo) 30%);
    background-size: 300% 100%;
    border-radius: 1rem;
    transition: background-position 0.5s ease-in-out;
}

.form__btn:hover {
    background-position: 100% 0;
}

.form.hidden {
    transform: translateY(-40rem);
    height: 0;
    padding: 0 2rem;
    margin-bottom: 0;
    opacity: 0;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Activity ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.activity {
    background-color: var(--color-green-second);
    border-radius: 15px 5px;
    padding: 1.2rem 1.8rem;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    cursor: var(--cursor-point);
    display: block;
    text-align: center;
    position: relative;
}

.activity__details-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 2rem 0 0;
}

.activity__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
}

.activity--running {
    box-shadow: 3px 3px 4px 2px var(--color-blue-first);
}

.activity--cycling {
    box-shadow: 3px 3px 4px 2px var(--color-purple-first);
}

.activity__title {
    font-size: 1.6rem;
    font-weight: 700;
}

.activity__details {
    display: flex;
    align-items: baseline;
    text-align: center;
}

.activity__icon {
    font-size: 1.6rem;
    margin-right: 0.3rem;
    height: 3rem;
}

.activity__value {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 0.2rem;
}

.activity__unit {
    font-size: 1rem;
    color: var(--color-dark-first);
    text-transform: uppercase;
    font-weight: 800;
}

.delete-activity {
    top: 1rem;
    right: 0;
}

.delete-activity:hover .delete-activity__icon {
    color: red;
    font-size: 1.7rem;
}

.delete-activity__icon {
    font-size: 1.6rem;
    color: rgb(220, 0, 0);
}

.edit-activity {
    top: 1rem;
    left: 0;
}

.edit-activity:hover .edit-activity__icon {
    font-size: 1.7rem;
    color: rgb(188, 188, 188);
}

.edit-activity__icon {
    font-size: 1.6rem;
    color: white;
}

.tooltip--actions {
    position: absolute;
    bottom: 2.5rem;
    background: var(--color-dark-first);
    color: var(--color-light-first);
    padding: .5rem 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2000;
    position: relative;
    font-size: 1.4rem;
}

.tooltip__edit {
    left: 4rem;
}

.tooltip__delete {
    right: 4.5rem;
}

.edit-activity:hover .tooltip__edit,
.delete-activity:hover .tooltip__delete {
    opacity: 1;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Leaflet ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark-first);
    color: var(--color-light-first);
    border-radius: 12px;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark-first);
}

.running-popup .leaflet-popup-content-wrapper {
    box-shadow: 0px 0px 7px 5px var(--color-blue-first);
}

.cycling-popup .leaflet-popup-content-wrapper {
    box-shadow: 0 0 7px 5px var(--color-purple-first);
}


/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Animations ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes shine {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.no-animations .top img {
    animation: none;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Message ╠░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.message-container {
    position: fixed;
    top: 7rem;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    opacity: 0;
    z-index: 1000;
    transition: transform 0.5s ease-out, opacity 0.6s ease-in-out;
}

.message-container-error {
    right: 0;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 5px;
    box-shadow: 0 1px 10px 2px rgb(136, 4, 4);
}

.message-container-error.show {
    transform: translateX(-10%);
    opacity: 1;
}

.message-container-error.hide {
    transform: translateX(50%);
    opacity: 0;
}

.message-container-success {
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(29, 165, 29);
    border-radius: 15px 15px 40px 40px;
    box-shadow: 0 1px 10px 6px rgb(8, 82, 8);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.message-container-success.show {
    transform: translateX(-50%) translateY(-10%);
    opacity: 1;
}

.message-container-success.hide {
    transform: translateX(-50%) translateY(50%);
    opacity: 0;
}


/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Footer ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.footer {
    display: flex;
}

.fit-bound-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fit-bounds-btn {
    --b: 2px;
    --s: .3em;
    --color: #373B44;

    padding: calc(.4em + var(--s)) calc(.7em + var(--s));
    color: var(--color-dark-first);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .5em;
    font-size: 1.4rem;

    border: 0;

    touch-action: manipulation;
    cursor: var(--cursor-point);
}

.fit-bounds-btn:hover,
.fit-bounds-btn:focus-visible {
    --_p: 0px;
    outline-color: var(--color-dark-first);
    outline-offset: .06em;
}

.fit-bounds-btn:active {
    background: var(--color-light-first);
    color: #fff;
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Sort ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.sort-controls {
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;
}

.sort-btn {
    min-width: 12rem;
    max-width: 15rem;
    border-radius: 3px;
    border: none;
    background-color: var(--color-dark-first);
    color: var(--color-light-first);
    padding: .5rem 1.75rem;
    cursor: var(--cursor-point);
    transition: .2s ease-out;
    font-size: 1.6rem;
}

.sort-btn:hover {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

.sort-btn:focus {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Loader ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: rgb(220, 78, 35);
    -webkit-mask: radial-gradient(circle 8px at 47% 47%, #0000 94%, #000);
}

.loader:after {
    animation: l6 .8s infinite;
    transform: perspective(300px) translateZ(0px)
}

@keyframes l6 {
    to {
        transform: perspective(300px) translateZ(250px);
        opacity: 0
    }
}

/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Search ╠░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

/* .suggestions-box {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
}

.suggestions-box div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.suggestions-box div:hover {
    background-color: #f0f0f0;
} */


/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░╣ Responsiveness ╠░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ */

@media (min-width: 1800px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 55%;
    }

    #info {
        width: 35%;
    }
}

@media (max-width: 1000px) {
    .form {
        grid-template-columns: 1fr;
    }

    .activity__details-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .sort-controls {
        flex: 4;
    }

    .fit-bound-container {
        flex: 1;
    }
}

@media (max-width: 850px) {
    .activity__actions {
        margin-bottom: 3rem;
    }
}

@media (max-width: 700px) {
    body {
        overflow-y: scroll;
    }

    .footer {
        height: 22vh;
        margin: 0 2rem 0 0;
    }

    .sort-controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 2rem;
    }

    .info {
        min-width: 50%;
    }

    .tooltip {
        display: none !important;
    }
}

@media (max-width: 550px) {
    .tooltip__deleteAll {
        display: none;
    }

    #info {
        padding: .5rem 1rem;
    }

    .info__btn--deleteAll {
        left: 2rem;
    }

    .logo {
        height: 10rem;
    }

    #close-btn {
        top: 3rem;
    }

    #map {
        height: 80vh;
    }
}

@media (max-width: 420px) {
    .logo {
        height: 9rem;
    }

    .sort-controls {
        grid-template-columns: 1fr;
        justify-items: center;
        flex: 3;
    }

    .fit-bound-container {
        flex: 2;
    }

    .footer {
        height: 35vh;
    }

    #info {
        height: 60%;
    }

    .form {
        padding: 1rem;
    }

    .activity__details-wrapper {
        grid-template-columns: 1fr;
    }

    .form__input {
        padding: .5rem;
        font-size: 1.2rem;
    }

    .form__label {
        flex: 0 0 50%;
        font-size: 1.2rem;
    }

    .form__label.focused {
        font-size: 1.3rem;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }

    .activity__title {
        font-size: 1.4rem;
    }

    .info__btn--deleteAll {
        left: 1rem;
    }

    .message-container {
        font-size: 1.5rem;
    }
}

@media (max-width: 350px) {
    #info {
        height: 55%;
        min-width: 52%;
    }

    .logo {
        height: 7rem;
    }

    .message-container {
        font-size: 1.3rem;
    }
}